In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df1 = pd.read_csv('D:/Curso Henry/Proyecto final/CSV_Limpiados/Copia de SalesFINAL12312016_Modificado.csv')

In [4]:
df1.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,fecha_actualizacion
0,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-05,50.0,1,0.05,3960,2025-05-27 18:54:47
1,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-12,50.0,1,0.05,3960,2025-05-27 18:54:47
2,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-20,50.0,1,0.05,3960,2025-05-27 18:54:47
3,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-29,50.0,1,0.05,3960,2025-05-27 18:54:47
4,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-09-08,50.0,1,0.05,3960,2025-05-27 18:54:47

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6412657 entries, 0 to 6412656
Data columns (total 14 columns):
 #   Column               Dtype
---  ------               -----
 0   InventoryId          object
 1   Store                int64
 2   Brand                int64
 3   Description          object
 4   Size                 object
 5   SalesQuantity        int64
 6   SalesDollars         float64
 7   SalesPrice           float64
 8   SalesDate            object
 9   Volume               float64
 10  Classification       int64
 11  ExciseTax            float64
 12  VendorNo             int64
 13  fecha_actualizacion  object
dtypes: float64(4), int64(5), object(5)
memory usage: 684.9+ MB

In [6]:
columnas_a_eliminar = ['Description', 'Size', 'Volume', 'Classification', 'VendorNo', 'fecha_actualizacion']

df1 = df1.drop(columns=[col for col in columnas_a_eliminar if col in df1.columns])

In [7]:
df1.head()

,InventoryId,Store,Brand,SalesQuantity,SalesDollars,SalesPrice,SalesDate,ExciseTax
0,1_HARDERSFIELD_1001,1,1001,1,5.99,5.99,2016-08-05,0.05
1,1_HARDERSFIELD_1001,1,1001,1,5.99,5.99,2016-08-12,0.05
2,1_HARDERSFIELD_1001,1,1001,1,5.99,5.99,2016-08-20,0.05
3,1_HARDERSFIELD_1001,1,1001,1,5.99,5.99,2016-08-29,0.05
4,1_HARDERSFIELD_1001,1,1001,1,5.99,5.99,2016-09-08,0.05

In [ ]:
columnas_coma = ['SalesDollars', 'SalesPrice']

for col in columnas_coma:
    df1[col] = df1[col].astype(str).str.replace('.', ',', regex=False)

In [7]:
df1.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,fecha_actualizacion
0,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-05,50.0,1,0.05,3960,2025-05-27 18:54:47
1,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-12,50.0,1,0.05,3960,2025-05-27 18:54:47
2,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-20,50.0,1,0.05,3960,2025-05-27 18:54:47
3,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-29,50.0,1,0.05,3960,2025-05-27 18:54:47
4,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-09-08,50.0,1,0.05,3960,2025-05-27 18:54:47

In [ ]:
#Ya hicimos toda la limpieza, guardamos
df1.to_csv('Ventas.csv', index=False)

-----------------

In [4]:
df2 = pd.read_csv('D:/Curso Henry/Proyecto final/CSV_Limpiados/Copia de PurchasePricesDec2017_Modificado.csv')

In [5]:
df2.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
0,1,Frizze Blue 1000mL,11.50,1000mL,1000,0,11.50,11500,Distribuidora Sur S.A.,2025-05-30 15:14:13
1,2,Cynar 750mL,13.99,750mL,750,0,13.99,11501,Importadora Global Ltda.,2025-05-30 15:14:13
2,4,Frizze Blue 1000mL,11.50,1000mL,1000,0,11.50,11500,Distribuidora Sur S.A.,2025-05-30 15:19:54
3,5,Cynar 750mL,13.99,750mL,750,0,13.99,11501,Importadora Global Ltda.,2025-05-30 15:19:54
4,61,Margaritaville Silver,13.99,750mL,750,1,10.60,8004,SAZERAC CO INC,2025-05-27 18:54:32

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6129 entries, 0 to 6128
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                6129 non-null   int64
 1   Description          6129 non-null   object
 2   Price                6129 non-null   float64
 3   Size                 6129 non-null   object
 4   Volume               6129 non-null   int64
 5   Classification       6129 non-null   int64
 6   PurchasePrice        6129 non-null   float64
 7   VendorNumber         6129 non-null   int64
 8   VendorName           6129 non-null   object
 9   fecha_actualizacion  6129 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 479.0+ KB

In [ ]:
columnas_a_eliminar = ['Size', 'fecha_actualizacion', 'Classification']

df2 = df2.drop(columns=[col for col in columnas_a_eliminar if col in df2.columns])

In [ ]:
df2.head()

,Brand,Description,Price,Volume,PurchasePrice,VendorNumber,VendorName
0,1,Frizze Blue 1000mL,"11,5",1000,"11,5",11500,Distribuidora Sur S.A.
1,2,Cynar 750mL,"13,99",750,"13,99",11501,Importadora Global Ltda.
2,4,Frizze Blue 1000mL,"11,5",1000,"11,5",11500,Distribuidora Sur S.A.
3,5,Cynar 750mL,"13,99",750,"13,99",11501,Importadora Global Ltda.
4,61,Margaritaville Silver,"13,99",750,"10,6",8004,SAZERAC CO INC

In [ ]:
columnas_coma = ['Price', 'PurchasePrice']

for col in columnas_coma:
    df2[col] = df2[col].astype(str).str.replace('.', ',', regex=False)

In [ ]:
df2.head()

,Brand,Description,Price,Volume,PurchasePrice,VendorNumber,VendorName
0,1,Frizze Blue 1000mL,"11,5",1000,"11,5",11500,Distribuidora Sur S.A.
1,2,Cynar 750mL,"13,99",750,"13,99",11501,Importadora Global Ltda.
2,4,Frizze Blue 1000mL,"11,5",1000,"11,5",11500,Distribuidora Sur S.A.
3,5,Cynar 750mL,"13,99",750,"13,99",11501,Importadora Global Ltda.
4,61,Margaritaville Silver,"13,99",750,"10,6",8004,SAZERAC CO INC

In [ ]:
#Ya hicimos toda la limpieza, guardamos
df2.to_csv('Productos.csv', index=False)

--------------

In [ ]:
df4 = pd.read_csv('D:/Curso Henry/Proyecto final/CSV/Copia de PurchaseFINAL12312016_Modificado.csv')

In [ ]:
df4.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1,2025-05-27 18:54:37
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1,2025-05-27 18:54:37
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1,2025-05-27 18:54:37
3,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1,2025-05-27 18:54:37
4,5_SUTTON_3348,5,3348,Bombay Sapphire Gin,1.75L,480,BACARDI USA INC,8106,2015-12-20,2016-01-02,2016-01-12,2016-02-05,22.38,6,134.28,1,2025-05-27 18:54:37

In [ ]:
columnas_a_eliminar = ['fecha_actualizacion', 'Classification']

df4 = df4.drop(columns=[col for col in columnas_a_eliminar if col in df4.columns])

In [ ]:
columnas_coma = ['Dollars', 'PurchasePrice']

#for col in columnas_coma:
#    df4[col] = df4[col].astype(str).str.replace('.', ',', regex=False)

In [ ]:
df4.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10
3,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60
4,5_SUTTON_3348,5,3348,Bombay Sapphire Gin,1.75L,480,BACARDI USA INC,8106,2015-12-20,2016-01-02,2016-01-12,2016-02-05,22.38,6,134.28

In [ ]:
resumen_nuevos = df4.groupby('PONumber', as_index=False).agg({
    'VendorNumber': 'first',
    'PODate': 'first',
    'InvoiceDate': 'first',
    'PayDate': 'first',
    'Quantity': 'sum',
    'Dollars': 'sum'
})

-----------------

In [ ]:
df3 = pd.read_csv('D:/Curso Henry/Proyecto final/CSV/Copia de Purchases12312016_Modificado.csv')

In [ ]:
df3.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,fecha_actualizacion
0,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,2025-05-27 18:54:24
1,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,2025-05-27 18:54:24
2,2396,BLACK PRINCE DISTILLERY INC,2016-01-08,8191,2015-12-25,2016-02-06,23,234.83,2.30,2025-05-27 18:54:24
3,1189,BULLY BOY DISTILLERS,2016-01-09,8171,2015-12-24,2016-02-04,6,132.30,5.29,2025-05-27 18:54:24
4,11567,CAMPARI AMERICA,2016-01-06,8151,2015-12-23,2016-02-20,1321,12039.71,398.71,2025-05-27 18:54:24

In [ ]:
columnas_a_eliminar = ['fecha_actualizacion']

df3 = df3.drop(columns=[col for col in columnas_a_eliminar if col in df3.columns])

In [ ]:
columnas_coma = ['Freight', 'Dollars']

#for col in columnas_coma:
#    df3[col] = df3[col].astype(str).str.replace('.', ',', regex=False)

In [ ]:
df3.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight
0,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57
1,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20
2,2396,BLACK PRINCE DISTILLERY INC,2016-01-08,8191,2015-12-25,2016-02-06,23,234.83,2.30
3,1189,BULLY BOY DISTILLERS,2016-01-09,8171,2015-12-24,2016-02-04,6,132.30,5.29
4,11567,CAMPARI AMERICA,2016-01-06,8151,2015-12-23,2016-02-20,1321,12039.71,398.71

In [ ]:
# Asegurate de que ambos estn en string y sin espacios
df3['PONumber'] = df3['PONumber'].astype(str).str.strip()
resumen_nuevos['PONumber'] = resumen_nuevos['PONumber'].astype(str).str.strip()

# Filtrar los nuevos PONumber
nuevos_po = resumen_nuevos[~resumen_nuevos['PONumber'].isin(df3['PONumber'])]

In [ ]:
df3_actualizado = pd.concat([df3, nuevos_po], ignore_index=True)

In [ ]:
print("Filas nuevas agregadas:", len(nuevos_po))

Filas nuevas agregadas: 2771

In [ ]:
df3['PONumber'] = df3['PONumber'].astype(str).str.strip()
df4['PONumber'] = df4['PONumber'].astype(str).str.strip()

In [ ]:
ponumbers_df3 = set(df3['PONumber'])
ponumbers_df4 = set(df4['PONumber'])

faltantes = ponumbers_df4 - ponumbers_df3
print(f"Faltan {len(faltantes)} PONumber en df3.")

Faltan 2771 PONumber en df3.

In [ ]:
df4_faltantes = df4[df4['PONumber'].isin(faltantes)]

In [ ]:
nuevas_compras = df4_faltantes.groupby('PONumber', as_index=False).agg({
    'VendorNumber': 'first',
    'VendorName': 'first',
    'InvoiceDate': 'first',
    'PODate': 'first',
    'PayDate': 'first',
    'Quantity': 'sum',
    'Dollars': 'sum'
})

In [ ]:
df3_actualizado = pd.concat([df3, nuevas_compras], ignore_index=True)

In [ ]:
print("Total de PONumber nicos:", df3_actualizado['PONumber'].nunique())

Total de PONumber nicos: 5542

In [ ]:
df3_actualizado.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight
0,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57
1,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20
2,2396,BLACK PRINCE DISTILLERY INC,2016-01-08,8191,2015-12-25,2016-02-06,23,234.83,2.30
3,1189,BULLY BOY DISTILLERS,2016-01-09,8171,2015-12-24,2016-02-04,6,132.30,5.29
4,11567,CAMPARI AMERICA,2016-01-06,8151,2015-12-23,2016-02-20,1321,12039.71,398.71

In [ ]:
columnas_a_eliminar = ['VendorName']

df4 = df4.drop(columns=[col for col in columnas_a_eliminar if col in df4.columns])

In [ ]:
df3_actualizado['Freight'] = pd.to_numeric(df3_actualizado['Freight'], errors='coerce')
df3_actualizado['Quantity'] = pd.to_numeric(df3_actualizado['Quantity'], errors='coerce')

In [ ]:
# Filtrar solo filas donde Freight y Quantity no estn vacos
freight_unit_cost = df3_actualizado.loc[
    df3_actualizado['Freight'].notna() & df3_actualizado['Quantity'].notna(),
    ['Freight', 'Quantity']
]

# Calcular la suma total y el promedio por unidad
total_freight = freight_unit_cost['Freight'].sum()
total_quantity = freight_unit_cost['Quantity'].sum()

promedio_envio_por_unidad = total_freight / total_quantity
print(f"Costo promedio de envo por unidad: {promedio_envio_por_unidad:.4f}")

Costo promedio de envo por unidad: 0.0489

In [ ]:
df3_actualizado['Freight'] = np.where(
    df3_actualizado['Freight'].isna(),
    df3_actualizado['Quantity'] * promedio_envio_por_unidad,
    df3_actualizado['Freight']
)

In [ ]:
print("Valores faltantes en Freight:", df3_actualizado['Freight'].isna().sum())

Valores faltantes en Freight: 0

In [ ]:
df3_actualizado.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight
0,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57
1,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20
2,2396,BLACK PRINCE DISTILLERY INC,2016-01-08,8191,2015-12-25,2016-02-06,23,234.83,2.30
3,1189,BULLY BOY DISTILLERS,2016-01-09,8171,2015-12-24,2016-02-04,6,132.30,5.29
4,11567,CAMPARI AMERICA,2016-01-06,8151,2015-12-23,2016-02-20,1321,12039.71,398.71

In [ ]:
columnas_coma = ['Dollars', 'PurchasePrice']

for col in columnas_coma:
    df4[col] = df4[col].astype(str).str.replace('.', ',', regex=False)

In [ ]:
columnas_coma = ['Freight', 'Dollars']

for col in columnas_coma:
    df3_actualizado[col] = df3_actualizado[col].astype(str).str.replace('.', ',', regex=False)

In [ ]:
#Ya hicimos toda la limpieza, guardamos
df3_actualizado.to_csv('Compras.csv', index=False)

In [ ]:
#Ya hicimos toda la limpieza, guardamos
df4.to_csv('Detalle_compra.csv', index=False)

---------------

In [ ]:
df5 = pd.read_csv('D:/Curso Henry/Proyecto final/CSV/Copia de BegInvFINAL12312016_Modificado.csv')

In [ ]:
df5.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate,fecha_actualizacion
0,1_HARDERSFIELD_1000,1,HARDERSFIELD,1000,Goslings Dark'n Stormy VAP,750mL,0,14.99,2016-01-01,2025-05-27 18:54:12
1,1_HARDERSFIELD_1001,1,HARDERSFIELD,1001,Baileys 50mL 4 Pack,50mL 4 Pk,0,5.99,2016-01-01,2025-05-27 18:54:12
2,1_HARDERSFIELD_10021,1,HARDERSFIELD,10021,Clayhouse Syrah Paso Robles,750mL,25,11.99,2016-01-01,2025-05-27 18:54:12
3,1_HARDERSFIELD_1004,1,HARDERSFIELD,1004,Jim Beam w/2 Rocks Glasses,750mL,17,16.49,2016-01-01,2025-05-27 18:54:12
4,1_HARDERSFIELD_1005,1,HARDERSFIELD,1005,Maker's Mark Combo Pack,375mL 2 Pk,7,34.99,2016-01-01,2025-05-27 18:54:12

In [ ]:
columnas_a_eliminar = ['City' , 'Description', 'Size', 'fecha_actualizacion']

df5 = df5.drop(columns=[col for col in columnas_a_eliminar if col in df5.columns])

In [ ]:
columnas_coma = ['Price']

for col in columnas_coma:
    df5[col] = df5[col].astype(str).str.replace('.', ',', regex=False)

In [ ]:
#Ya hicimos toda la limpieza, guardamos
df5.to_csv('Inventario_inicial.csv', index=False)

----------

In [ ]:
df6 = pd.read_csv('D:/Curso Henry/Proyecto final/CSV/Copia de EndInvFINAL12312016_Modificado.csv')

In [ ]:
df6.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate,fecha_actualizacion
0,1_HARDERSFIELD_1001,1,HARDERSFIELD,1001.0,Baileys 50mL 4 Pack,50mL 4 Pk,0.0,5.99,2016-12-31,2025-05-27 18:54:18
1,1_HARDERSFIELD_10021,1,HARDERSFIELD,10021.0,Clayhouse Syrah Paso Robles,750mL,23.0,13.99,2016-12-31,2025-05-27 18:54:18
2,1_HARDERSFIELD_1003,1,HARDERSFIELD,1003.0,Crown Royal VAP Glass+Coastr,750mL,0.0,22.99,2016-12-31,2025-05-27 18:54:18
3,1_HARDERSFIELD_10058,1,HARDERSFIELD,10058.0,F Coppola Dmd Ivry Cab Svgn,750mL,47.0,14.99,2016-12-31,2025-05-27 18:54:18
4,1_HARDERSFIELD_10062,1,HARDERSFIELD,10062.0,B de Beauchene CDR Rouge,750mL,29.0,8.99,2016-12-31,2025-05-27 18:54:18

In [ ]:
columnas_a_eliminar = ['City' , 'Description', 'Size', 'fecha_actualizacion']

df6 = df6.drop(columns=[col for col in columnas_a_eliminar if col in df6.columns])

In [ ]:
columnas_coma = ['Price']

for col in columnas_coma:
    df6[col] = df6[col].astype(str).str.replace('.', ',', regex=False)

In [ ]:
#Ya hicimos toda la limpieza, guardamos
df6.to_csv('Inventario_final.csv', index=False)

-----

In [ ]:
df7 = pd.read_csv('D:/Curso Henry/Proyecto final/CSV/Copia de EndInvFINAL12312016_Modificado.csv')

In [ ]:
df7.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate,fecha_actualizacion
0,1_HARDERSFIELD_1001,1,HARDERSFIELD,1001.0,Baileys 50mL 4 Pack,50mL 4 Pk,0.0,5.99,2016-12-31,2025-05-27 18:54:18
1,1_HARDERSFIELD_10021,1,HARDERSFIELD,10021.0,Clayhouse Syrah Paso Robles,750mL,23.0,13.99,2016-12-31,2025-05-27 18:54:18
2,1_HARDERSFIELD_1003,1,HARDERSFIELD,1003.0,Crown Royal VAP Glass+Coastr,750mL,0.0,22.99,2016-12-31,2025-05-27 18:54:18
3,1_HARDERSFIELD_10058,1,HARDERSFIELD,10058.0,F Coppola Dmd Ivry Cab Svgn,750mL,47.0,14.99,2016-12-31,2025-05-27 18:54:18
4,1_HARDERSFIELD_10062,1,HARDERSFIELD,10062.0,B de Beauchene CDR Rouge,750mL,29.0,8.99,2016-12-31,2025-05-27 18:54:18

In [ ]:
columnas_a_eliminar = ['InventoryId', 'Brand', 'Description', 'Size','onHand','Price' , 'endDate', 'fecha_actualizacion']

df7 = df7.drop(columns=[col for col in columnas_a_eliminar if col in df7.columns])

In [ ]:
df7.head()

   Store          City
0      1  HARDERSFIELD
1      1  HARDERSFIELD
2      1  HARDERSFIELD
3      1  HARDERSFIELD
4      1  HARDERSFIELD

In [ ]:
df7= df7.drop_duplicates()

In [ ]:
df7.head()

       Store          City
0          1  HARDERSFIELD
3191      10       HORNSEY
7079      11       CARDEND
9411      12       LEESIDE
11192     13    TARMSWORTH

In [ ]:
#Ya hicimos toda la limpieza, guardamos
df7.to_csv('Tiendas.csv', index=False)