Primero, nos conectamos a la BD y cargamos el DS:

In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (9.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (4.13.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
from sqlalchemy import create_engine
import os

In [6]:
usuario = "franco"
contrase침a = "Proyectofinal2025!%"
host = "34.135.248.251"
puerto = "3306"
base_de_datos = "pf-g2-daft13"

In [7]:
# Crear conexi칩n SQLAlchemy
engine = create_engine(f"mysql+mysqlconnector://{usuario}:{contrase침a}@{host}:{puerto}/{base_de_datos}")

Importo las librerias necesarias

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Aca Inicia la limpieza de PurchasePricesDec2017

Cargo la primer tabla:

In [9]:
df1 = pd.read_sql_table("PurchasePricesDec2017", con=engine)

In [10]:
df1.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
0,0,Description,0.00,Size,0,0,0.00,0,"VendorName""\r\n58,""Gekkeikan Black & Gold Sake",2025-05-27 18:54:32
1,61,Margaritaville Silver,13.99,750mL,750,1,10.60,8004,"SAZERAC CO INC ""\r\n122,""DeKuyper ...",2025-05-27 18:54:32
2,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,"BROWN-FORMAN CORP ""\r\n63,""Herradura ...",2025-05-27 18:54:32
3,68,Luxardo Triplum Triple Sec,24.99,750mL,750,1,18.93,9165,"ULTRA BEVERAGE COMPANY LLP ""\r\n97,""Smirnoff P...",2025-05-27 18:54:32
4,70,Luxardo Amaretto di Saschira,18.99,750mL,750,1,13.96,9165,"ULTRA BEVERAGE COMPANY LLP ""\r\n3535,""Ricura C...",2025-05-27 18:54:32

In [11]:
np.shape(df1)

(6131, 10)

In [12]:
#Validamos los datos que tenemos en los campos
print(df1.columns)

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName', 'fecha_actualizacion'],
      dtype='object')

In [13]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6131 entries, 0 to 6130
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                6131 non-null   int64
 1   Description          6131 non-null   object
 2   Price                6131 non-null   float64
 3   Size                 6131 non-null   object
 4   Volume               6131 non-null   int64
 5   Classification       6131 non-null   int64
 6   PurchasePrice        6131 non-null   float64
 7   VendorNumber         6131 non-null   int64
 8   VendorName           6131 non-null   object
 9   fecha_actualizacion  6131 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 479.1+ KB
None

En principio no hay nulos, chequeamos

In [14]:
df1.isnull().sum()

Brand                  0
Description            0
Price                  0
Size                   0
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

In [15]:
df1.isna().sum()

Brand                  0
Description            0
Price                  0
Size                   0
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

Vemos que no hay nulos ni 0, pero podria haber espacios vacios con espacios, reemplazamos estor valores:

In [16]:
df1 = df1.replace(r'^\s*$', np.nan, regex=True)

Eliminamos la primera fila, que contiene los titulos

In [17]:
df1 = df1.drop(index=0).reset_index(drop=True)

In [18]:
df1.isna().sum()

Brand                  0
Description            1
Price                  0
Size                   1
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

In [19]:
df1.isnull().sum()

Brand                  0
Description            1
Price                  0
Size                   1
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

Encontramos valores nulos y na, buscamos cual es antes de tomar una decisi칩n:

In [20]:
df1.loc[df1['Description'].isna()]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
1186,4202,NaN,0.0,NaN,0,1,11.19,480,"BACARDI USA INC ""\r\n17989,""Porta V...",2025-05-27 18:54:32

Observamos que no tenemos mucha informacion de esta, la borramos:

In [21]:
df1 = df1.dropna()

In [22]:
np.shape(df1)

(6129, 10)

In [23]:
df1.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
0,61,Margaritaville Silver,13.99,750mL,750,1,10.60,8004,"SAZERAC CO INC ""\r\n122,""DeKuyper ...",2025-05-27 18:54:32
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,"BROWN-FORMAN CORP ""\r\n63,""Herradura ...",2025-05-27 18:54:32
2,68,Luxardo Triplum Triple Sec,24.99,750mL,750,1,18.93,9165,"ULTRA BEVERAGE COMPANY LLP ""\r\n97,""Smirnoff P...",2025-05-27 18:54:32
3,70,Luxardo Amaretto di Saschira,18.99,750mL,750,1,13.96,9165,"ULTRA BEVERAGE COMPANY LLP ""\r\n3535,""Ricura C...",2025-05-27 18:54:32
4,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,"ULTRA BEVERAGE COMPANY LLP ""\r\n75,""Three Oliv...",2025-05-27 18:54:32

In [24]:
print(df1['VendorName'].unique())

['SAZERAC CO INC             "\r\n122,"DeKuyper Mixed Berry Medley'
 'BROWN-FORMAN CORP          "\r\n63,"Herradura Reposado Tequila'
 'ULTRA BEVERAGE COMPANY LLP "\r\n97,"Smirnoff Passion Fruit Vodka' ...
 'MARTIGNETTI COMPANIES"\r\n5837,"Leroux Cherry Brandy'
 'IRA GOLDMAN AND WILLIAMS, LLP          "\r\n21835,"Ch St Jean Bijou Chard'
 'ULTRA BEVERAGE COMPANY LLP "\r\n5992,"Kaikouzu Potato Shochu']

In [25]:
df1['VendorName'] = df1['VendorName'].astype(str).str.extract(r'^([^\r\n]*)')[0].str.strip('"')

In [26]:
df1.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
0,61,Margaritaville Silver,13.99,750mL,750,1,10.60,8004,SAZERAC CO INC,2025-05-27 18:54:32
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP,2025-05-27 18:54:32
2,68,Luxardo Triplum Triple Sec,24.99,750mL,750,1,18.93,9165,ULTRA BEVERAGE COMPANY LLP,2025-05-27 18:54:32
3,70,Luxardo Amaretto di Saschira,18.99,750mL,750,1,13.96,9165,ULTRA BEVERAGE COMPANY LLP,2025-05-27 18:54:32
4,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP,2025-05-27 18:54:32

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6129 entries, 0 to 6129
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                6129 non-null   int64
 1   Description          6129 non-null   object
 2   Price                6129 non-null   float64
 3   Size                 6129 non-null   object
 4   Volume               6129 non-null   int64
 5   Classification       6129 non-null   int64
 6   PurchasePrice        6129 non-null   float64
 7   VendorNumber         6129 non-null   int64
 8   VendorName           6129 non-null   object
 9   fecha_actualizacion  6129 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 526.7+ KB

In [28]:
df1[(df1['Volume'].isnull()) | (df1['Volume'] == 0)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
1960,8992,Group 92,1.99,Unknown,0,1,1.43,1703,ALISA CARR BEVERAGES,2025-05-27 18:54:32
1985,9908,Tito's Copper Mug 2 Pack,21.01,Unknown,0,1,16.15,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32
6127,90590,Overture Champagne 2Glass Pk,19.95,Unknown,0,2,13.12,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32

In [39]:
df1[df1['Description'].str.contains('Overture', case=False, na=False)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
6127,90590,Overture Champagne 2Glass Pk,19.95,Unknown,0,2,13.12,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32

In [42]:
df1[(df1['Volume'].isnull()) | (df1['Volume'] == 0)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
1960,8992,Group 92,1.99,Unknown,0,1,1.43,1703,ALISA CARR BEVERAGES,2025-05-27 18:54:32
1985,9908,Tito's Copper Mug 2 Pack,21.01,Unknown,0,1,16.15,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32
6127,90590,Overture Champagne 2Glass Pk,19.95,Unknown,0,2,13.12,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32

Como estos 3 datos estan faltantes en size y volume, elimino las filas

In [58]:
df1 = df1.drop(df1[df1['Volume'] == 0].index)

In [59]:
np.shape(df1)

(6126, 10)

In [61]:
df1[(df1['Price'].isnull()) | (df1['Price'] == 0)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
526,2166,The Macallan Double Cask 12,0.0,750mL,750,1,0.0,2561,EDRINGTON AMERICAS,2025-05-27 18:54:32

Elimino las filas con precio igual a 0

In [62]:
df1 = df1.drop(df1[df1['Price'] == 0].index)

In [65]:
print(df1['Volume'].info())
print(df1['Volume'].min())
print(df1['Volume'].max())

<class 'pandas.core.series.Series'>
Index: 6125 entries, 0 to 6129
Series name: Volume
Non-Null Count  Dtype
--------------  -----
6125 non-null   int64
dtypes: int64(1)
memory usage: 95.7 KB
None
50
18000

In [108]:
# Seleccionar columnas de tipo string / objeto
text_cols = df1.select_dtypes(include='object').columns

# Filtro la cantidad de datos que tienen valores null o vacios
df1[text_cols].isnull().sum() + (df1[text_cols] == "").sum()

Description    0
Size           0
VendorName     0
dtype: int64

## Aca finaliza la limpieza de PurchasePricesDec2017
## Aca inicia la limpieza de PurchaseFINAL12312016

Cargo la segunda tabla:

In [52]:
df2 = pd.read_sql_table("PurchasesFINAL12312016", con=engine)

In [66]:
df2.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
0,InventoryId,0,0,Description,Size,0,VendorName,0,NaT,NaT,NaT,NaT,0.00,0,0.00,0,2025-05-27 18:54:37
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1,2025-05-27 18:54:37
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1,2025-05-27 18:54:37
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1,2025-05-27 18:54:37
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1,2025-05-27 18:54:37

In [67]:
np.shape(df2)

(2372474, 17)

Elimino la primer fila que tiene los encabezados

In [68]:
df2 = df2.drop(index=0).reset_index(drop=True)

In [69]:
np.shape(df2)

(2372473, 17)

In [70]:
print(df2.columns)

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification',
       'fecha_actualizacion'],
      dtype='object')

In [71]:
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372473 entries, 0 to 2372472
Data columns (total 17 columns):
 #   Column               Dtype
---  ------               -----
 0   InventoryId          object
 1   Store                int64
 2   Brand                int64
 3   Description          object
 4   Size                 object
 5   VendorNumber         int64
 6   VendorName           object
 7   PONumber             int64
 8   PODate               datetime64[ns]
 9   ReceivingDate        datetime64[ns]
 10  InvoiceDate          datetime64[ns]
 11  PayDate              datetime64[ns]
 12  PurchasePrice        float64
 13  Quantity             int64
 14  Dollars              float64
 15  Classification       int64
 16  fecha_actualizacion  datetime64[ns]
dtypes: datetime64[ns](5), float64(2), int64(6), object(4)
memory usage: 307.7+ MB
None

In [85]:
#df2.isnull().sum()
df1.isna().sum()

Brand                  0
Description            0
Price                  0
Size                   0
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

En principio no hay datos faltantes

In [93]:
columnas_numericas = df2.select_dtypes(include='number').columns

for col in columnas_numericas:
    print(f"Estad칤sticas para {col}:")
    print(f"  Media: {df2[col].mean():.2f}")
    print(f"  Mediana: {df2[col].median():.2f}")
    print(f"  Desviaci칩n est치ndar: {df2[col].std():.2f}")
    print(f"  M칤nimo: {df2[col].min():.2f}")
    print(f"  M치ximo: {df2[col].max():.2f}")
    print("-" * 40)

Estad칤sticas para Store:
  Media: 44.65
  Mediana: 48.00
  Desviaci칩n est치ndar: 23.51
  M칤nimo: 1.00
  M치ximo: 81.00
----------------------------------------
Estad칤sticas para Brand:
  Media: 12418.64
  Mediana: 6523.00
  Desviaci칩n est치ndar: 12557.28
  M칤nimo: 58.00
  M치ximo: 90631.00
----------------------------------------
Estad칤sticas para VendorNumber:
  Media: 6886.44
  Mediana: 4425.00
  Desviaci칩n est치ndar: 8066.69
  M칤nimo: 2.00
  M치ximo: 201359.00
----------------------------------------
Estad칤sticas para PONumber:
  Media: 11040.94
  Mediana: 11103.00
  Desviaci칩n est치ndar: 1565.34
  M칤nimo: 8106.00
  M치ximo: 13661.00
----------------------------------------
Estad칤sticas para PurchasePrice:
  Media: 12.05
  Mediana: 9.22
  Desviaci칩n est치ndar: 17.95
  M칤nimo: 0.00
  M치ximo: 5681.81
----------------------------------------
Estad칤sticas para Quantity:
  Media: 14.16
  Mediana: 10.00
  Desviaci칩n est치ndar: 23.45
  M칤nimo: 1.00
  M치ximo: 3816.00
----------------------------------------
Estad칤sticas para Dollars:
  Media: 135.68
  Mediana: 83.93
  Desviaci칩n est치ndar: 281.66
  M칤nimo: 0.00
  M치ximo: 50175.70
----------------------------------------
Estad칤sticas para Classification:
  Media: 1.44
  Mediana: 1.00
  Desviaci칩n est치ndar: 0.50
  M칤nimo: 1.00
  M치ximo: 2.00
----------------------------------------

Vemos que PurchasePrice y Dollars tienen datos nulos, vemos cuantas filas tienen ese estado

In [94]:
df2[(df2['PurchasePrice'].isnull()) | (df2['PurchasePrice'] == 0)]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
1369008,59_CLAETHORPES_2166,59,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-10,2016-08-22,2016-10-01,0.0,12,0.0,1,2025-05-27 18:54:37
1369017,38_GOULCREST_2166,38,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-11,2016-08-22,2016-10-01,0.0,12,0.0,1,2025-05-27 18:54:37
1369030,34_PITMERDEN_2166,34,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-09,2016-08-22,2016-10-01,0.0,12,0.0,1,2025-05-27 18:54:37
1369031,44_PORTHCRAWL_2166,44,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-08,2016-08-22,2016-10-01,0.0,12,0.0,1,2025-05-27 18:54:37
1369032,56_BEGGAR'S HOLE_2166,56,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-09,2016-08-22,2016-10-01,0.0,12,0.0,1,2025-05-27 18:54:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2278895,39_EASTHALLOW_2166,39,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1,2025-05-27 18:54:37
2278908,38_GOULCREST_2166,38,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-20,2016-12-28,2017-02-03,0.0,10,0.0,1,2025-05-27 18:54:37
2278921,9_BLACKPOOL_2166,9,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1,2025-05-27 18:54:37
2278953,20_BREDWARDINE_2166,20,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1,2025-05-27 18:54:37
2278957,31_HORNSEY_2166,31,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1,2025-05-27 18:54:37

Vemos que hay para el producto "The Macallan Double Cask 12", no tiene precio de compra, me fijo si algun dato en la tabla tiene esta informacion para reemplazarla.

In [100]:
df2[
    (df2['Description'].str.contains('The Macallan Double', case=False, na=False)) &
    (df2['PurchasePrice'] > 0)
]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification, fecha_actualizacion]
Index: []

No hay coincidencia de datos que pueda rellenar, por lo que procedo a borrar estas filas.

In [101]:
df2 = df2.drop(df2[df2['PurchasePrice'] == 0].index)

In [103]:
df2.loc[df2['Size'].isna()]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification, fecha_actualizacion]
Index: []

In [ ]:
# Seleccionar columnas de tipo string / objeto
text_cols = df2.select_dtypes(include='object').columns

# Filtro la cantidad de datos que tienen valores null o vacios
df2[text_cols].isnull().sum() + (df2[text_cols] == "").sum()

InventoryId    0
Description    0
Size           3
VendorName     0
dtype: int64

Observo que hay datos vacios en size, filtro estos datos

In [109]:
df2[(df2['Size'].isnull()) | (df2['Size'] == "")]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
1109667,34_PITMERDEN_3121,34,3121,Pinnacle Rainbow Sherbet,,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-04,2016-07-13,2016-08-16,6.93,7,48.51,1,2025-05-27 18:54:37
1112425,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-09,2016-07-13,2016-08-16,6.93,6,41.58,1,2025-05-27 18:54:37
1116301,39_EASTHALLOW_15365,39,15365,Alabaster 07 Tinta de Toro,,9552,M S WALKER INC,10972,2016-06-29,2016-07-07,2016-07-13,2016-08-21,91.83,1,91.83,2,2025-05-27 18:54:37

In [113]:
df2[
    (df2['Description'].str.contains('Skinnygirl Pina Colada', case=False, na=False)) &
    (df2['Size'].isnull()==False)
]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
26471,38_GOULCREST_5678,38,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,8241,2015-12-29,2016-01-06,2016-01-16,2016-02-15,6.93,29,200.97,1,2025-05-27 18:54:37
176513,49_GARIGILL_5678,49,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,8659,2016-01-27,2016-02-04,2016-02-14,2016-03-19,6.93,1,6.93,1,2025-05-27 18:54:37
214730,76_DONCASTER_5678,76,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,8800,2016-02-05,2016-02-12,2016-02-19,2016-04-01,6.93,17,117.81,1,2025-05-27 18:54:37
366400,66_EANVERNESS_5678,66,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9118,2016-02-28,2016-03-11,2016-03-19,2016-04-21,6.93,2,13.86,1,2025-05-27 18:54:37
366881,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9118,2016-02-28,2016-03-10,2016-03-19,2016-04-21,6.93,45,311.85,1,2025-05-27 18:54:37
367930,67_EANVERNESS_5678,67,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9118,2016-02-28,2016-03-08,2016-03-19,2016-04-21,6.93,17,117.81,1,2025-05-27 18:54:37
631594,66_EANVERNESS_5678,66,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9907,2016-04-22,2016-04-27,2016-05-04,2016-06-17,6.93,10,69.30,1,2025-05-27 18:54:37
760081,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,10132,2016-05-09,2016-05-19,2016-05-23,2016-07-09,6.93,2,13.86,1,2025-05-27 18:54:37
761873,69_MOUNTMEND_5678,69,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,10132,2016-05-09,2016-05-20,2016-05-23,2016-07-09,6.93,1,6.93,1,2025-05-27 18:54:37
1112425,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-09,2016-07-13,2016-08-16,6.93,6,41.58,1,2025-05-27 18:54:37

Vemos que hay datos para reemplazar los faltantes, entonces hago un reemplazo de estas.

In [114]:
df2['Size'] = df2['Size'].replace('', np.nan)

#Rellenamos NaN con el valor m치s frecuente (moda) por cada Description
df2['Size'] = df2['Size'].fillna(
    df2.groupby('Description')['Size'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
)

In [115]:
df2[(df2['Size'].isnull()) | (df2['Size'] == "")]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
1116301,39_EASTHALLOW_15365,39,15365,Alabaster 07 Tinta de Toro,NaN,9552,M S WALKER INC,10972,2016-06-29,2016-07-07,2016-07-13,2016-08-21,91.83,1,91.83,2,2025-05-27 18:54:37

In [117]:
df1[
    (df1['Description'].str.contains('Alabaster 07', case=False, na=False)) &
    (df1['Size'].isnull()==False)
]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
2534,15365,Alabaster 07 Tinta de Toro,142.99,750mL,750,2,91.83,9552,M S WALKER INC,2025-05-27 18:54:32

Vemos que en otra df tenemos el dato faltante, entonces reemplazamos.

In [124]:
df2.loc[(df2['Size'].isnull()) | (df2['Size'] == ""), 'Size'] = '750mL'

In [125]:
df2[(df2['Size'].isnull()) | (df2['Size'] == "")]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification, fecha_actualizacion]
Index: []

## Aca finaliza la limpieza de PurchaseFINAL12312016
## Aca inicia la limpieza de SalesFINAL12312016

In [126]:
df3 = pd.read_sql_table("SalesFINAL12312016", con=engine)

MemoryError: Unable to allocate 196. MiB for an array with shape (4, 6412682) and data type float64

In [127]:
df3.head()

NameError: name 'df3' is not defined

In [ ]:
np.shape(df3)

In [ ]:
print(df3.info())